extends layout2

block content
		.container-fluid
			.row.tes
				.col.l2.s6.bayangan
					.center-align
						br
						center
							img.circle.responsive-img(src='images/pp.png', alt='iki gambar', width='50%', height='50%')
						p= user.name
						br
					p My Account
					p My Trip
					p Message
					p Wishlist
					p Settings
					br
					br
					br
					p Get Help
					p Logout
				.col.l10.s6
					.container
						h4.header.orange-text Account Overview
						.col.l6.s12
							.card.white
								.card-content
									span.card-title.orange-text
										b Profile
									form
										label.grey-text(for='username')
											h6 Username
										input#username.black-text(name='username', value= user.name, type='text')
										label.grey-text(for='email')
											h6 Email
										input#email.black-text(name='email', value= user.email, type='email')
										label.grey-text(for='date')
											h6 Date of Birth
										input#date.black-text(name='date', value= user.ttl, type='text')
										label.grey-text(for='phone')
											h6 Phone Number
										input#phone.black-text(name='phone', value= user.phone, type='text')
								.card-action.center
									a.grad.white-text.btn-flat(href='#')
										b Edit Profile
						.col.l6.s12
							.card.white
								.card-content
									span.card-title.orange-text
										b Trip
									h6.grey-text Current Trip
									p Labuan Bajo / 28 Des 2018 - 02 Januari 2019
								.card-action
						.col.l6.s12
							.card.white
								.card-content
									span.card-title.orange-text
										b Trip Point
									h6.grey-text Total Point
									p 10 pts
									br
								.card-action
		script(src='https://code.jquery.com/jquery-2.1.1.min.js')
		script(src='javascripts/materialize.js')
		script(src='javascripts/init.js')
