extends layoutLP1

block content
		.container-fluid
			.row
				.col.l12.s12
					h4.left
						b Explore Lokapoin
			.row
				.col.l4.s12
					a(href='#')
						img(style='width: 100%;height: 100%;', src='images/lokabasic.jpg')
					p Get your expected standard of night stay
				.col.l4.s12
					a(href='#')
						img(style='width: 100%;height: 100%;', src='images/lokafolk.jpg')
					p Get your expected standard of night stay
				.col.l4.s12
					a(href='#')
						img(style='width: 100%;height: 100%;', src='images/lokavibe.jpg')
					p Get your expected standard of night stay
			.row
				.col.l12.s12
					h4.left
						b LokaBasic
			.row
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/riau-house1.jpg')
					h6.orange-text LokaBasic
					h5 De Riau House
					h6 Starts from IDR 1.650.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/published/imahkolot6.jpg?1537586190')
					h6.orange-text LokaBasic
					h5 Kolot House
					h6 Starts from IDR 980.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/pele-house-5_orig.jpg')
					h6.orange-text LokaBasic
					h5 Pele House
					h6 Starts from IDR 150.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/lokastay9_orig.jpg')
					h6.orange-text LokaBasic
					h5 Halimun House
					h6 Starts from IDR 325.000
			.row
				.col.l12.s12
					h4.left
						b LokaFolk
			.row
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/3.jpg')
					h6.orange-text LokaFolk
					h5 Ceu Yati House
					h6 Starts from IDR 185.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/3.jpg')
					h6.orange-text LokaFolk
					h5 Ceu Yati House
					h6 Starts from IDR 185.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/lokastay3.jpg')
					h6.orange-text LokaFolk
					h5 Lentera House and Villa
					h6 Starts from IDR 400.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/lokastay3.jpg')
					h6.orange-text LokaFolk
					h5 Lentera House and Villa
					h6 Starts from IDR 400.000
			.row
				.col.l12.s12
					h4.left
						b LokaVibe
			.row
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/9_2.jpg')
					h6.orange-text LokaVibe
					h5 Raben House
					h6 Starts from IDR 325.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/9_2.jpg')
					h6.orange-text LokaVibe
					h5 Raben House
					h6 Starts from IDR 325.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/9_2.jpg')
					h6.orange-text LokaVibe
					h5 Raben House
					h6 Starts from IDR 325.000
				.col.l3.s6
					img(style='width: 100%;height: 100%;', src='http://lokapoin.id/uploads/1/2/1/4/121419309/9_2.jpg')
					h6.orange-text LokaVibe
					h5 Raben House
					h6 Starts from IDR 325.000
			.divider
			footer.page-footer.white
				.container
					.row
						.col.l4.s12
							h5.black-text Lokapoin
							p
								a.black-text(href='about') About
								br
								a.black-text(a='', href='#') Career
								br
								a.black-text(a='', href='#') Press
								br
								a.black-text(a='', href='#') Policies
								br
								a.black-text(a='', href='#') Help
						.col.l4.s12
							h5.black-text Joining Lokapoin
							p.black-text
								| Become a Host
						.col.l4.s12
							h5.black-text Our Social Media
							ul
								.container
									li
										a.black-text(href='#!')
											h6
												i.fa.fa-instagram
												|   Lokapoin
									li
										a.black-text(href='#!')
											h6
												i.fa.fa-facebook
												|    Lokapoin
									li
										a.black-text(href='#!')
											h6
												i.fa.fa-youtube
												|   Lokapoin
				.footer-copyright
					.container.black-text
						center PT. Lokapoin Kreasi Indonesia

			script(src='https://code.jquery.com/jquery-2.1.1.min.js')
			script(src='javascripts/materialize.js')
			script(src='javascripts/init.js')
			script(src='javascripts/login.js')
