doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
			| Lokapoin - Lokapoin Indonesia
		// CSS
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='stylesheets/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	body
		// Modal Structure
		#modal1.modal
			.modal-content
				h4.center Login
				.container
					.row
						.col.l12.s12.center-align
							a#loginfb.btn-flat.cyan.darken-2.white-text(style='width:100%;')
								i.fa.fa-facebook &nbsp; &nbsp;
								b Login with facebook
					.row
						.col.l12.s12.center-align
							a#logingoogle.btn-flat.cyan.darken-2.white-text(style='width:100%;')
								i.fa.fa-google &nbsp; &nbsp;
								b Login with google
					li.divider
					br
					.row
						.col.l12.s12
							.bord2
								form
									input#emaillogin(name='email', type='email', placeholder='Email Address')
					.row
						.col.l12.s12
							.bord2
								form
									input#passlogin(name='pass', type='password', placeholder='Password')
					.row
						.col.16.s6
							label
								input.filled-in(type='checkbox', checked='checked')
								span Remember me
						.col.16.s6.right-align
							a#showpass Show Password
					.row
						.col.l12.s12
							center
								a#login.modal-close.grad.white-text.btn-flat(href='#!', style='width:100%;')
									b Login
					.row
						.col.l12.s12.center-align
							a Forgot password?
					li.divider
					br
					.row
						.col.l12.s12.center-align
							| Don't have an account?
							a.modal-close.modal-trigger(href='#modal2') Signup
		#modal2.modal
			.modal-content
				h4.center Signup
				.container
					.row
						.col.l12.s12.center-align
							| Signup with
							a Facebook
							|  or
							a Google
					li.divider
					br
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#emailsignup.geser2(name='email', type='text', placeholder='Email Address')
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#fnamesignup(name='first_name', type='text', placeholder='First Name')
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#lnamesignup(name='last_name', type='text', placeholder='Last Name')
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#passsignup(name='pass', type='text', placeholder='Create Password')
					.row
						.col.l12.s12.right-align
							a#showpass2 Hide Password
					.row
						.col.l12.s12.right-align
							center
								a#register.modal-close.grad.white-text.btn-flat(href='#!', style='width:100%;')
									b Signup
					.row
						.col.l12.s12.center-align
							| By signing up you agree to Lokapoin
							a terms and privacy policy
					li.divider
					br
					.row
						.col.l12.s12.center-align
							| Already have a Lokapoin account?
							a.modal-trigger.modal-close(href='#modal1') Login
		.parallax-container
			.brand-logo.left
				a(href='/')
					img.logo(src='images/logo.png', alt='Logo')
			ul.right.hide-on-med-and-down.geser
				li
					a.white-text(href='/host')
						b Become a Host &nbsp;
					a.white-text.modal-trigger(href='#modal2')
						b Signup &nbsp;
					a.white-text.modal-trigger(href='#modal1')
						b Login
			.parallax
				img(src='images/lokapoin_banner.png')
		.parallax-container2.valign-wrapper.grad
			.section.no-pad-bot
				.container
					.row.center.hide-on-med-and-up
						.col.s6
							a.white-text.modal-trigger(href='#modal2')
								b Signup
						.col.s6
							a.white-text.modal-trigger(href='#modal1')
								b Login
					.row.center.hide-on-med-and-down
						.col.l2
						.col.l1
							h6 WHERE
						.col.l2.bord1
							form
								input#kemana.white-text(type='text')
						.col.l1
							h6 WHEN
						.col.l2.bord1
							form
								input#kapan.white-text(type='text')
						#search.col.l2.orange.white-text
							.input-field
								b Search
						br
	block content
