doctype html
html(lang='en')
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title
			| Lokapoin - Lokapoin Indonesia
		// CSS
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='stylesheets/materialize.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(href='stylesheets/style.css', type='text/css', rel='stylesheet', media='screen,projection')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
	body
		//
			Dropdown Structure
			<ul id="dropdown1" class="dropdown-content">
			<li><a href="#!">one</a></li>
			<li><a href="#!">two</a></li>
			<li class="divider"></li>
			<li><a href="#!">three</a></li>
			</ul>
		nav
			.nav-wrapper.white
				a.brand-logo.left(href='/')
					img.logo(src='images/logo2.jpeg', alt='Logo')
				ul#nav-mobile.sidenav
					li
						a.orange-text.text-darken-3.modal-trigger(href='#modal1') Login
					li.divider
					li
						a.orange-text.text-darken-3.modal-trigger(href='#modal2') Sign Up
					//
						sudah login
						<li><a class="orange-text text-darken-3" href="#!">Home</a></li>
						<li class="divider"></li>
						<li><a class="orange-text text-darken-3" href="#!">My Booking</a></li>
						<li class="divider"></li>
						<li><a class="orange-text text-darken-3" href="#!">My Inbox</a></li>
						<li class="divider"></li>
						<li><a class="orange-text text-darken-3" href="#!">About us</a></li>
				a.sidenav-trigger.right(href='#', data-target='nav-mobile')
					i.material-icons menu
				ul.right.hide-on-med-and-down
					li
						a(href='#')
							i.material-icons search
					//
						Sudah login
						<li><a href="#"><i class="material-icons">chat_bubble_outline</i></a></li>
						<li><a href="#"><i class="material-icons">favorite_border</i></a></li>
						<li><img src="images/pp.png" alt="pp" class="circle responsive-img limit dropdown-trigger" data-target="dropdown1"></li>
					li
						a.modal-trigger(href='#modal2')
							b Sign Up
					li
						a.modal-trigger(href='#modal1')
							b Login
		//
			Modal Trigger
			Modal Structure
		#modal1.modal
			.modal-content
				h4.center Login
				.container
					.row
						.col.l12.s12.center-align
							a#loginfb.btn-flat.cyan.darken-2.white-text(style='width:100%;')
								i.fa.fa-facebook &nbsp; &nbsp;
								b Login with facebook
					.row
						.col.l12.s12.center-align
							a#loginfb.btn-flat.cyan.darken-2.white-text(style='width:100%;')
								i.fa.fa-google &nbsp; &nbsp;
								b Login with google
					li.divider
					br
					.row
						.col.l12.s12
							.bord2
								form
									input#emaillogin(name='email', placeholder='Email Address', type='email')
					.row
						.col.l12.s12
							.bord2
								form
									input#passlogin(name='pass', placeholder='Password', type='password')
					.row
						.col.16.s6
							label
								input.filled-in(checked='checked', type='checkbox')
								span Remember me
						.col.16.s6.right-align
							a Show Password
					.row
						.col.l12.s12
							center
								a#login.modal-close.grad.white-text.btn-flat(href='#!', style='width:100%;')
									b Login
					.row
						.col.l12.s12.center-align
							a Forgot password?
					li.divider
					br
					.row
						.col.l12.s12.center-align
							| Don't have an account?
							a.modal-close.modal-trigger(href='#modal2') Signup
		#modal2.modal
			.modal-content
				h4.center Signup
				.container
					.row
						.col.l12.s12.center-align
							| Signup with
							a Facebook
							|  or
							a Google
					li.divider
					br
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#emailsignup.geser2(name='email', placeholder='Email Address', type='text')
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#fnamesignup(name='first_name', placeholder='First Name', type='text')
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#lnamesignup(name='last_name', placeholder='Last Name', type='text')
					.row
						.col.l12.s12.center-align
							.bord2
								form
									input#passsignup(name='pass', placeholder='Create Password', type='text')
					.row
						.col.l12.s12.right-align
							a Show Password
					.row
						.col.l12.s12.right-align
							center
								a.modal-close.grad.white-text.btn-flat(href='#!', style='width:100%;')
									b Signup
					.row
						.col.l12.s12.center-align
							| By signing up you agree to Lokapoin
							a terms and privacy policy
					li.divider
					br
					.row
						.col.l12.s12.center-align
							| Already have a Lokapoin account?
							a.modal-trigger.modal-close(href='#modal1') Login

	block content
